---
import TimeDisplay from "@components/TimeDisplay.astro";
import type { HeadingLevel } from "@types";

interface Props {
  title: string;
  href: string;
  date: Date;
  source?: string;
  headingLevel?: HeadingLevel;
}
const { title, href, date, source, headingLevel = 2 } = Astro.props;

const HeadingTag = `h${headingLevel}` as keyof JSX.IntrinsicElements;
---

<li class="my-7">
  <a
    href={href}
    target={source ? "_blank" : "_self"}
    class="inline-block text-lg font-medium mb-1"
  >
    {
      source && (
        <>
          <span class="source transition-all text-skin-muted inline-block text-xs bg-white bg-opacity-10 rounded px-2 py-0.5">
            {source}
            <i class="i-ph-arrow-square-out mb-1 ml-1" />
          </span>
          <br />
        </>
      )
    }
    <HeadingTag class="text-xl font-medium decoration-dashed inline">
      {title}
    </HeadingTag>
  </a>
  <TimeDisplay datetime={date} />
</li>

<style>
  a {
    @apply text-skin-accent-base;
  }

  a:hover .source {
    @apply bg-opacity-20;
  }

  a:hover h2 {
    @apply underline;
  }
</style>
