---
import { getCollection } from "astro:content";
import Layout from "@layouts/Layout.astro";
import Header from "@components/sections/Header.astro";
import Footer from "@components/sections/Footer.astro";
import LinkButton, { LINKBUTTON_CTA_CLASS } from "@components/LinkButton.astro";
import Hr from "@components/Hr.astro";
import Card from "@components/Card.astro";
import Socials from "@components/Socials.astro";
import getSortedPosts from "@utils/getSortedPosts";
import slugify from "@utils/slugify";
import { SOCIALS } from "@config";

const posts = await getCollection("blog");

const sortedPosts = getSortedPosts(posts);
const featuredPosts = sortedPosts.filter(({ data }) => data.featured);

const socialCount = SOCIALS.filter(social => social.active).length;

const email = SOCIALS.filter(s => s.name === "Mail")[0]!!;
---

<Layout>
  <Header />
  <main id="main-content">
    <section id="hero" class="flex">
      <div class="pr-12 basis-1/3">
        <img src="zander.jpg" />
      </div>
      <div class="flex flex-col justify-center basis-2/3">
        <h1>Timo Zander</h1>
        <p>Software Engineer, TypeScript enthusiast, and tech writer</p>

        <div class="social-wrapper">
          <LinkButton
            href={email.href}
            className={LINKBUTTON_CTA_CLASS + " cta-button"}
            title={email.linkTitle}
          >
            Get in touch
          </LinkButton>

          {socialCount > 0 && <Socials />}
        </div>
      </div>

      <!-- <p>
        Read the blog posts or check
        <LinkButton
          className="hover:text-skin-accent underline underline-offset-4 decoration-dashed"
          href="https://github.com/satnaing/astro-paper#readme"
        >
          README
        </LinkButton> for more info.
      </p>
      {
        // only display if at least one social link is enabled
        socialCount > 0 && (
          <div class="social-wrapper">
            <div class="social-links">Social Links:</div>
            <Socials />
          </div>
        )
      } -->
    </section>

    {
      featuredPosts.length > 0 && (
        <>
          <section id="featured">
            <h2>Featured</h2>
            <ul>
              {featuredPosts.map(({ data }) => (
                <Card
                  href={`/posts/${slugify(data)}`}
                  title={data.title}
                  description={data.description}
                  pubDatetime={data.pubDatetime}
                  secHeading={false}
                />
              ))}
            </ul>
          </section>
          <Hr />
        </>
      )
    }

    <section id="recent-posts">
      <h2>Recent Posts</h2>
      <ul>
        {
          sortedPosts.map(
            ({ data }, index) =>
              index < 4 && (
                <Card
                  href={`/posts/${slugify(data)}`}
                  title={data.title}
                  description={data.description}
                  pubDatetime={data.pubDatetime}
                  secHeading={false}
                />
              )
          )
        }
      </ul>
      <div class="all-posts-btn-wrapper">
        <LinkButton href="/posts">
          All Posts
          <svg xmlns="http://www.w3.org/2000/svg"
            ><path
              d="m11.293 17.293 1.414 1.414L19.414 12l-6.707-6.707-1.414 1.414L15.586 11H6v2h9.586z"
            ></path>
          </svg>
        </LinkButton>
      </div>
    </section>
  </main>

  <Footer />
</Layout>

<style>
  /* ===== Hero Section ===== */
  #hero {
    @apply py-28;
  }
  #hero h1 {
    @apply my-4 inline-block text-6xl font-bold;
  }

  #hero img {
    border-radius: 50%;
    box-shadow: 0 2px 15px 2px rgb(var(--color-border));
  }

  #hero p {
    @apply mb-2 ml-2;
  }

  #hero .social-wrapper {
    @apply mt-3 flex items-center;
  }

  #hero .cta-button {
    @apply mr-6;
  }

  #hero .social-wrapper :global(svg) {
    @apply scale-150 mr-4;
  }

  .social-links {
    @apply mr-2 mb-1 whitespace-nowrap sm:mb-0;
  }

  /* ===== Featured & Recent Posts Sections ===== */
  #featured,
  #recent-posts {
    @apply pt-12 pb-6;
  }
  #featured h2,
  #recent-posts h2 {
    @apply text-2xl font-semibold tracking-wide;
  }
  .all-posts-btn-wrapper {
    @apply my-8 text-center;
  }
</style>
