---
type HTMLAttributeAnchorTarget = "_self" | "_blank" | "_parent" | "_top";

export type ButtonType = "primary" | "default";
interface Props {
	href: string;
	className?: string;
	ariaLabel?: string;
	type?: ButtonType;
	title?: string;
	disabled?: boolean;
	target?: HTMLAttributeAnchorTarget;
}

const {
	href,
	className,
	ariaLabel,
	title,
	target = undefined,
	disabled = false,
	type = "default",
} = Astro.props;
---

<a
  type="button"
  href={disabled ? "#" : href}
  tabindex={disabled ? "-1" : "0"}
  class={`${className} ${type}`}
  aria-label={ariaLabel}
  title={title}
  aria-disabled={disabled}
  target={target}
>
  <slot />
</a>

<style>
  a {
    @apply hover:text-skin-accent-base;
  }

  a.primary {
    @apply transition px-6 py-3 text-xl font-medium border-2 border-skin-accent-base bg-skin-accent-base text-skin-fill mx-2 rounded-lg;
  }

  a.primary:hover {
    @apply bg-transparent text-skin-accent-base;
  }
</style>
