---
import { Schema } from "astro-seo-schema";
import SearchContainer from "@components/search/SearchContainer.astro";
import { SITE } from "@config";

import "@fontsource/fira-code/400.css";
import "@fontsource-variable/fira-code";
import "@fontsource/rubik/400.css";
import "@fontsource-variable/rubik";
import "@fontsource-variable/rubik/wght-italic.css";
import "../styles/base.css";

const googleSiteVerification = import.meta.env.PUBLIC_GOOGLE_SITE_VERIFICATION;

export interface Props {
	title?: string;
	metaTitle?: string;
	author?: string;
	description?: string;
	ogImage?: string;
}

const {
	title = SITE.metaTitle,
	metaTitle = SITE.metaTitle,
	author = SITE.author,
	description = SITE.desc,
	ogImage = SITE.ogImage,
} = Astro.props;

const canonicalURL = new URL(Astro.url.pathname, Astro.site);

const socialImageURL = new URL(
	ogImage ? ogImage : SITE.ogImage,
	Astro.url.origin,
).href;

const fallbackImageURL = new URL(SITE.ogImage, Astro.url.origin).href;
---

<!doctype html>
<html lang="en" data-theme="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="canonical" href={canonicalURL} />
    <meta name="generator" content={Astro.generator} />

    <link rel="sitemap" href="/sitemap-index.xml" />

    <!-- General Meta Tags -->
    <title>{title}</title>
    <meta name="title" content={metaTitle} />
    <meta name="description" content={description} />
    <meta name="author" content={author} />

    <!-- Google -->
    <Schema
      item={{
        "@context": "https://schema.org",
        "@type": "WebSite",
        name: SITE.author,
        url: SITE.website,
      }}
    />

    <!-- Open Graph / Facebook -->
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:url" content={canonicalURL} />
    <meta property="og:image" content={socialImageURL} />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content={canonicalURL} />
    <meta property="twitter:title" content={title} />
    <meta property="twitter:description" content={description} />
    <meta
      property="twitter:image"
      content={socialImageURL.endsWith(".svg")
        ? fallbackImageURL
        : socialImageURL}
    />

    {
      // If PUBLIC_GOOGLE_SITE_VERIFICATION is set in the environment variable,
      // include google-site-verification tag in the heading
      // Learn more: https://support.google.com/webmasters/answer/9008080#meta_tag_verification&zippy=%2Chtml-tag
      googleSiteVerification && (
        <meta
          name="google-site-verification"
          content={googleSiteVerification}
        />
      )
    }
  </head>
  <body>
    <slot />

    <SearchContainer />
  </body>
</html>
