---
import Layout from "@layouts/Layout.astro";
import Header from "@components/sections/Header.astro";
import Footer from "@components/sections/Footer.astro";
import Tag from "@components/Tag.astro";
import type { CollectionEntry } from "astro:content";
import TimeDisplay from "@components/TimeDisplay.astro";
import { getReadingTime } from "@utils/getReadingTime";

export interface Props {
  post: CollectionEntry<"blog">;
}

const { post } = Astro.props;

const { title, author, description, ogImage, date, tags } = post.data;

const { Content } = await post.render();

const ogUrl = new URL(ogImage ? ogImage : `${title}.svg`, Astro.url.origin)
  .href;

const readTime = getReadingTime(post.body);
---

<Layout title={title} author={author} description={description} ogImage={ogUrl}>
  <Header activeNav={"blog"} />
  <div class="mx-auto flex w-full max-w-5xl justify-start px-2">
    <button
      class="focus-outline mt-8 mb-5 flex hover:opacity-75"
      onclick="history.back()"
    >
      <i class="i-ph-caret-left mt-1 mr-1"></i>
      <span>All posts</span>
    </button>
  </div>
  <main id="main-content">
    <h1 class="post-title">{title}</h1>
    <div class="flex gap-2 items-center">
      <TimeDisplay
        datetime={date}
        size="lg"
        class="my-2 text-lg! opacity-100!"
      />
      <p>—</p>
      <p>
        {readTime} minute{readTime != 2 ? "s" : ""} to read
      </p>
    </div>
    <article id="article" role="article" class="prose mx-auto mt-8 max-w-5xl">
      <Content />
    </article>

    <button
      class="focus-outline mt-12 text-skin-muted flex hover:opacity-75"
      onclick="history.back()"
    >
      <i class="i-ph-caret-left mt-1 mr-1"></i>
      <span>More posts</span>
    </button>
    <ul class="tags-container">
      {tags.map(tag => <Tag name={tag} />)}
    </ul>
  </main>
  <Footer />
</Layout>

<style>
  main {
    @apply mx-auto w-full max-w-5xl px-4 pb-12;
  }
  .post-title {
    @apply text-5xl font-semibold text-skin-accent text-justify;
  }
  .tags-container {
    @apply mb-8;
  }
</style>
